body{
    background: rgb(3, 3, 51);
    color: white;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(87, 87, 240)
}

nav {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: rgb(77, 192, 77);
    color: black;
    padding-top: 20px;
    padding-bottom: 7px;
    margin-top: 0;
}

.left-nav {
    margin-left: 20px;
}

.right-nav {
    position: absolute;
    right: 20px;
    text-align: center;
}

h1 {
    color: red;
}