{% extends "layout.html" %} 

{% block content %}

    <section class = "page" id = "front-page"> 
        <h1> Can You Guess the Country Based on its Weather?</h1>
        <p> Based on the weather of a random city in the world, guess which country the city is located in!</p>
        <a href = "/play">
            <button>Play now!</button>
        </a>
    </section>
    <section class = "page" id = "how-page">
        <h1> How to Play:</h1>
        <p> You're going to be given various details regarding the current weather and time of a random city in the world.
            You will then be given a multiple choice question containing 5 different countries that this city could be located in.
            It is up to you to guess the correct country!
        </p>
    </section>
{% endblock %}