{% extends "layout.html" %} 

{% block content %}
    <div id = "data">
        <h1>Current Weather</h1>
        <p>Temperature: {{ current_weather.temp }}°C</p>
        <p>Humidity: {{ current_weather.humidity }}%</p>
        <p>Sky: {{ current_weather.sky }}</p>
        <p>Current Time: {{ current_weather.timezone }}</p>
    </div>

    <!-- quiz questions -->
    <form id = "quiz-form">
        <h2> Which country?</h2>

        {% for choice in answers %}
        <label>
            <input type = "radio" name = "answer" value = "{{ choice }}">
            {{ choice }} 
        </label>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
    
    <script>
        const correctAnswer = "{{ current_weather.country }}";
        
        var quiz = document.getElementById("quiz-form");
        quiz.addEventListener("submit", formSubmission);

        function formSubmission(e) {
            e.preventDefault();
            const selectedAnswer = document.querySelector('input[name="answer"]:checked');
            
            if (selectedAnswer) {
                const userAnswer = selectedAnswer.value;

                if (userAnswer === correctAnswer) {
                    alert('Correct! You guessed the right country.');
                } else {
                    alert(`Incorrect :(. The correct answer is ${correctAnswer}.`);
                }
            } else {
                alert('Please select an answer.');
            }
        }
    </script>

{% endblock %}