{% extends "layout.html" %} 

{% block content %}
    <div id = "data">
        <h1>Current Weather</h1>
        <p>Temperature: {{ current_weather.temp }}°C</p>
        <p>Humidity: {{ current_weather.humidity }}%</p>
        <p>Sky: {{ current_weather.sky }}</p>
        <p>Timezone: {{ current_weather.timezone }}</p>
    </div>

    <!-- Answer choices and quiz questions-->
    {% set answer_choices = [current_weather["name"], wrong_answers[0], wrong_answers[1], wrong_answers[2], wrong_answers[3]] %}
    {% random.shuffle(answer_choices) %}

    <form id = "quiz-form">
        <h2> Which country?</h2>

        {% for choice in answer_choices %}
        <label>
            <input type = "radio" name = "answer" value = "{{ choice }}">
            {{ choice }} 
        </label>
        {% endfor %}
    </form>
{% endblock %}