{% extends "layout.html" %} 

{% block content %}
    <div id = "play-page">
        <div id = "data">
            <h1>Current Weather</h1>
            <p>Temperature: {{ current_weather.temp }}°C</p>
            <p>Humidity: {{ current_weather.humidity }}%</p>
            <p>Sky: {{ current_weather.sky }}</p>
            <p>Current Time: {{ current_weather.timezone }}</p>
        </div>

        <!-- quiz questions -->
        <form id="quiz-form">
            <h2>So... which country is this weather data from?</h2>

            <!-- Wrap the answer choices in a <div> element -->
            <div id="answer-choices">
                {% for choice in answers %}
                <label>
                    <input type="radio" name="answer" value="{{ choice }}">
                    {{ choice }}
                </label>
                {% endfor %}
            </div>

            <!-- Move the submit button below the answer choices -->
            <input class = "play-buttons" id = "submit-button" type="submit" value="Submit">
        </form>

        <div class = "play-buttons" id = "result-message"> 

        </div>
        <button id = "next-button"> Next Question </button>
    </div>


    <script>
        const correctAnswer = "{{ current_weather.country }}";
        const resultMessage = document.getElementById("result-message");
        const nextQuestion = document.getElementById("next-button")
        
        var quiz = document.getElementById("quiz-form");
        quiz.addEventListener("submit", formSubmission);

        function formSubmission(e) {
            e.preventDefault();
            const selectedAnswer = document.querySelector('input[name="answer"]:checked');
            
            if (selectedAnswer) {
                const userAnswer = selectedAnswer.value;

                if (userAnswer === correctAnswer) {
                    resultMessage.textContent = "Awesome! You selected the correct country."
                    resultMessage.style.color = 'green';
                } else {
                    resultMessage.textContent = "Wrong... you'll get the next one!"
                    resultMessage.style.color = 'red';
                }
            } else {
                alert('Please select an answer.');
            }
        }

        nextQuestion.addEventListener("click", () => {
            location.reload();
        });
    </script>

{% endblock %}